<section class="dsa-border m-2 text-center">
    <app-intro-message/>
    <app-chart [total]="150"  [titleSizeClass]="'text-4xl'" [aspectRatio]="2" [width]="300"  [top]="'top-[62px]'" [left]="'left-[129px]'" [fontSizeClass]="'text-lg'"></app-chart> 
    <main class="h-[92vh]">
      <div class="dsa-border h-full flex mt-4 text-center">
        <div class="w-64 dsa-border-2">
          <h3 class="py-4 text-lg cursor-pointer" [routerLink]="['topic', 'home']">
            Nishant Chahar Sheet
          </h3>
          <div class="h-[90%] overflow-auto scrollbar-thin flex flex-col w-[220px] space-y-2">
            @if (_topics() === undefined ) {
            <p class="mt-16">
              <hlm-spinner />
            </p>
            } @else if (_topics()?.length === 0) {
              <p class="mt-16">No Topics</p>
            } @else { @for (topic of _topics(); track $index) {
            <a
              [routerLink]="['topic', topic.path]"
              routerLinkActive="bg-muted/50"
              class="cursor-pointer px-4 py-3 font-mono text-sm border rounded-md border-border hover:bg-muted/50"
              >{{ topic.title }}</a
            >
            } }
          </div>
        </div>
        <div class="mx-4" style="width: -webkit-fill-available">
          <div class="dsa-border">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </main>
  </section>  