<div class="min-h-32 content-center">
  @if (prob()) {

  <section class="flex justify-between mb-3">
    <a
      [routerLink]="['/topic', backTo]"
      [matTooltip]="'Back'"
      hlmBtn
      variant="ghost"
      class="h-6 w-6 p-0.5 hover:bg-muted/50"
      align="end"
    >
      <hlm-icon class="w-5 h-5" name="lucideChevronsLeft" />
    </a>
    <mat-chip>{{ prob()?.statement }}</mat-chip>
    <!-- //TODO: Handle the problem status here; bring dynamic behaviour AMAP -->
    <div class="flex gap-1">
      <hlm-icon
        matTooltip="solved"
        class="w-5 h-5 text-[#4dbf42]"
        name="lucideBadgeCheck"
      />
      <hlm-icon
        matTooltip="pending"
        class="w-5 h-5 text-[#ffcd56]"
        name="lucideClock2"
      />
      <hlm-icon
        matTooltip="unattempted"
        class="w-5 h-5 text-[#ee564e]"
        name="lucideBan"
      />
    </div>
  </section>

  <section class="min-h-80">
    <div class="h-[478px]">
      <as-split gutterSize="6" direction="horizontal">
        <as-split-area minSize="40" [size]="50">
          <mat-card class="m-1 h-[-webkit-fill-available]">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Approach</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="flex flex-col gap-4">
                @for (sol of prob()?.solution; track $index) {
                <div class="text-justify">
                  <h5 class="font-medium text-2xl">
                    {{ sol.approach | titlecase }}
                  </h5>
                  <code>
                    {{ sol.algorithm }}
                  </code>
                </div>
                }
              </div>
            </mat-card-content>
          </mat-card>
        </as-split-area>
        <as-split-area minSize="40" [size]="50">
          <mat-card class="items-center m-1 h-[-webkit-fill-available]">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Solution</mat-card-title>
            </mat-card-header>
            <img
              mat-card-image
              width="360"
              src="../../../../assets/solutions/carbon.png"
              alt="Photo of a Shiba Inu"
            />
          </mat-card>
        </as-split-area>
      </as-split>
    </div>
  </section>

  } @else {
    <p>No data available</p>
  }
</div>